{% extends "base.html" %}
{% load i18n staticfiles %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block top %}

{% endblock %}

{% block main %}
    <section class="no-margin" id="main-slider">
        <div class="carousel slide wet-asphalt">
            <ol class="carousel-indicators">
                <li class="" data-slide-to="0" data-target="#main-slider"></li>
                <li data-slide-to="1" data-target="#main-slider" class=""></li>
                <li data-slide-to="2" data-target="#main-slider" class="active"></li>
            </ol>
            <div class="carousel-inner">
                <div style="background-image: url(static/images/slider/bg4.jpg)" class="item active">
                    <!--
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content centered" style="margin-top: 265px;">
                                    <h2 class="animation animated-item-1">Powerful and Responsive Web Design</h2>
                                    <p class="animation animated-item-2">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div><!--/.item-->
                <div style="background-image: url(static/images/slider/bg5.jpg)" class="item">
                    <!--
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content center centered" style="margin-top: 208.5px;">
                                    <h2 class="boxed animation animated-item-1">Clean, Crisp, Powerful and Responsive Web Design</h2>
                                    <p class="boxed animation animated-item-2">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                                    <br>
                                    <a href="#" class="btn btn-md animation animated-item-3">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div><!--/.item-->
                <div style="background-image: url(static/images/slider/bg6.jpg)" class="item">
                    <!--
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content centered" style="margin-top: 219px;">
                                    <h2 class="animation animated-item-1">Powerful and Responsive Web Design Theme</h2>
                                    <p class="animation animated-item-2">Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                                    <a href="#" class="btn btn-md animation animated-item-3">Learn More</a>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="centered" style="margin-top: 129px;">
                                    <div class="embed-container">
                                        <iframe frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" src="//player.vimeo.com/video/69421653?title=0&amp;byline=0&amp;portrait=0&amp;color=a22c2f"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a data-slide="prev" href="#main-slider" class="prev hidden-xs">
            <i class="icon-angle-left"></i>
        </a>
        <a data-slide="next" href="#main-slider" class="next hidden-xs">
            <i class="icon-angle-right"></i>
        </a>
    </section>

    <!-- About Us -->
    <section class="about-us blue">
        <div class="container">
            <div class="col-sm-6">
                <div class="about-us col-md-12 col-sm-12">
                    <div class="text row">
                        <h5>ABOUT US</h5>
                    </div> <br>
                    <div class="row">
                        <h1>37th Elfa Music School</h1><br>
                        <p>37th Elfa Music School berdiri untuk Indonesia, sebagai sekolah pendidikan seni musik yang telah banyak mencetak artis dan musisi papan atas yang handal dibidangnya, hingga kini masih mewarnai blantika musik Indonesia serta berprestasi di mancanegara.</p>
                        <p>Didirikan oleh sang maestro Indonesia pada Februari 1981, Elfa Secioria. Melalui tangan dinginnya, Elfa Music School dirancang untuk kecerdasan dalam bermusik, tidak hanya menjadi pencetak artis dan musisi handal, namun memberikan sarana kegiatan positif  bagi anak-anak generasi muda penerus bangsa, agar dapat meraih cita-cita dan mimpinya dengan bekal ilmu yang maksimal.</p>
                        <br>
                        <button class="btn btn-primary form-control h1"><b>Baca Selengkapnya</b></button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <img class="people" src="static/images/assets/5.png">
            </div>
        </div>
    </section>

    <!-- Chairman Message -->
    <section class="chairman-message">
        <div class="container">
            <div class="col-md-6 col-sm-6">
                <img class="chairman" src="static/images/assets/chairman.jpg" alt="chairman">
                <h2 class="text-center">Vera Sylvina</h2>
                <h4 style="font-family: 'lato-light'" class="text-center">Chairman of Elfa Music School</h4>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="col-md-12 col-sm-12">
                    <p>Selama empat puluh tahun lebih perjalanan hidupnya, Elfa Secioria telah menjadi inspirator terutama bagi seluruh anak-anak didiknya dalam mengapresiasi musik dan budaya Indonesia, sebagai pengembang talenta anak-anak bangsa sehingga mampu berprestasi di dunia Internasional.</p>
                    <p>Perkenankan saya sebagai penerus dan pengemban visi & misi almarhum, melalui kegiatan yang ingin kami adakan pada perhelatan bertajuk “Selamat datang Cinta” A Day With Wonderful Elfa Secioria’s Legacy, kiranya dapat menyatukan kembali dan mempererat cinta lintas generasi, sekaligus menyampaikan pesan kepada khalayak bahwa kami dapat mengubah wajah edukasi entertaintment Indonenesia.</p>
                    <p>Tentu saja kami tidak bisa sendiri <br>  
                    Sukses kami adalah sukses kita bersama, untuk Indonesia</p>
                    <p>Be a part of our movement. Be a part of our family to support our young generation
                    Elfa Music School “A Big Happy Family”</p><br>
                    <p>Warm Regards,</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Highlight News -->
    <section class="highlight-news blue">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Elfas News</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <div class="btn-group">
                        <a class="btn btn-danger" href="#scroller" data-slide="prev"><i class="icon-angle-left"></i></a>
                        <a class="btn btn-danger" href="#scroller" data-slide="next"><i class="icon-angle-right"></i></a>
                    </div>
                    <p class="gap"></p>
                </div>
                <div class="col-md-9">
                    <div id="scroller" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/item1.png" %}" alt="">
                                                <h5>
                                                    Nova - Corporate site template
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="{% static  "images/portfolio/full/item1.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                            
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/item3.png" %}" alt="">
                                                <h5>
                                                    Fornax - Apps site template
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="{% static  "images/portfolio/full/item1.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                            
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/item2.png" %}" alt="">
                                                <h5>
                                                    Flat Theme - Business Theme
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="{% static  "images/portfolio/full/item1.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--/.row-->
                            </div><!--/.item-->
                            <div class="item">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/item2.png" %}" alt="">
                                                <h5>
                                                    Flat Theme - Business Theme
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="{% static  "images/portfolio/full/item1.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/item1.png" %}" alt="">
                                                <h5>
                                                    Nova - Corporate site template
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="{% static  "images/portfolio/full/item1.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                            
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/item3.png" %}" alt="">
                                                <h5>
                                                    Fornax - Apps site template
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="{% static  "images/portfolio/full/item1.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--/.item-->
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div>
    </section>

    <!-- Support Us -->
    <section class="support-us">
        <div class="container">
            <div class="col-md-6 col-sm-6">
                <div class="text row">
                    <h5>Support Us</h5>
                </div> <br>
                <div class="row">
                    <h5><b>Give To Elfa Music School</b></h5>
                    <h1><b>We Cannot Go It Solo</b></h1><br>
                    <p>Sukses kita dalam memberi pendidikan musik terbaik kepada seluruh anak didik kita bergantung pada anda. Kontribusi anda dibidang finansial, sukarela dan jenis dukungan lainnya sangat penting terhadap percepatan melahirkan seniman – seniman komplit yang akan mewarnai blantika musik Indonesia dan kelak akan mengharumkan nama Indonesia.</p>
                    <p>Ayo kita dukung cita – cita mereka, karna sukses kita adalah sukses kita bersama, untuk Indonesia</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <img class="confetti" src="static/images/assets/4.png" alt="confetti">
                <!--<input id="btn-mainkan-peranmu" class="button" type="button" value="MAINKAN PERANMU!">-->    
            </div>
        </div>
    </section>

    <!-- Contact Us -->
    <section class="contact-us yellow">
        <div class="container">
            <div class="col-md-6 col-sm-6">
                <div class="row">
                    <h1>Keep In Touch</h1><br>
                    <p>Elfa Music School – Center</p>
                    <p class="paragraph">Jl. Duta 9 Blok LL no.14, Kemang Pratama Bekasi, 17116 </p>
                    <br>
                    <button id=btn-contact-us class="btn btn-primary form-control h1"><b>Contact Us</b></button>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <img class="piano" src="static/images/assets/3.png">
            </div>
        </div>
    </section>
    <section class="contact-us-extended yellow">
    </section>

    <!-- Follow Us -->
    <section class="follow-us" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-twitter icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Twitter Marketing</h3>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-facebook icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Facebook Marketing</h3>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-google-plus icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Google Plus Marketing</h3>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
            </div>
        </div>
    </section>


{% endblock %}

