{% extends "base.html" %}
{% load i18n staticfiles %}
{% load i18n blog_tags %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block top %}

{% endblock %}

{% block main %}
    <section class="album" id="main-slider">
        <!--<div class="carousel slide wet-asphalt">
            <ol class="carousel-indicators">
                <li data-slide-to="0" data-target="#main-slider" class=""></li>
                <li data-slide-to="1" data-target="#main-slider" class=""></li>
                <li data-slide-to="2" data-target="#main-slider" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div style="background-image: url(static/images/slider/bg4.jpg)" class="item active"></div>
                <div style="background-image: url(static/images/slider/bg5.jpg)" class="item"></div>
                <div style="background-image: url(static/images/slider/bg6.jpg)" class="item"></div>
            </div>
        </div>
        <a data-slide="prev" href="#main-slider" class="prev hidden-xs">
            <i class="icon-angle-left"></i>
        </a>
        <a data-slide="next" href="#main-slider" class="next hidden-xs">
            <i class="icon-angle-right"></i>
        </a>-->
         <video controls="controls" autoplay="autoplay">
            <source type="video/mp4" src="static/videos/website.mp4"></source>
       </video>
    </section>

    <!-- About Us -->
    <section class="about-us blue">
        <div class="container">
            <div class="col-sm-6">
                <div class="about-us col-md-12 col-sm-12">
                    <div class="text row">
                        <h5>ABOUT US</h5>
                    </div> <br>
                    <div class="row">
                        <h1>37th Elfa Music School</h1><br>
                        <p>37th Elfa Music School berdiri untuk Indonesia, sebagai sekolah pendidikan seni musik yang telah banyak mencetak artis dan musisi papan atas yang handal dibidangnya, hingga kini masih mewarnai blantika musik Indonesia serta berprestasi di mancanegara.</p>
                        <p>Didirikan oleh sang maestro Indonesia pada Februari 1981, Elfa Secioria. Melalui tangan dinginnya, Elfa Music School dirancang untuk kecerdasan dalam bermusik, tidak hanya menjadi pencetak artis dan musisi handal, namun memberikan sarana kegiatan positif  bagi anak-anak generasi muda penerus bangsa, agar dapat meraih cita-cita dan mimpinya dengan bekal ilmu yang maksimal.</p>
                        <br>
                        <!--<div class="row col-md-6">
                            <button class="btn btn-blue form-control h1"><b>Baca Selengkapnya</b></button>
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <img class="people" src="static/images/assets/5.png">
            </div>
        </div>
    </section>

    <!-- Chairman Message -->
    <section class="chairman-message">
        <div class="container">
            <div class="col-md-6 col-sm-6">
                <img class="chairman" src="static/images/assets/chairman.jpeg" alt="chairman">
                <h2 class="text-center">Vera Sylvina</h2>
                <h4 style="font-family: 'lato-light'" class="text-center">Business Owner</h4>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="col-md-12 col-sm-12">
                    <p>Selama empat puluh tahun lebih perjalanan hidupnya, Elfa Secioria telah menjadi inspirator terutama bagi seluruh anak-anak didiknya dalam mengapresiasi musik dan budaya Indonesia, sebagai pengembang talenta anak-anak bangsa sehingga mampu berprestasi di dunia Internasional.</p>
                    <p>Perkenankan saya sebagai penerus dan pengemban visi & misi almarhum, kiranya dapat meneruskan tongkat estafet perjuangannya, menyatukan kembali dan mempererat cinta lintas generasi, sekaligus menyampaikan pesan kepada khalayak bahwa kami dapat mengubah wajah edukasi entertainment Indonesia.</p>
                    <p>Tentu saja kami tidak bisa sendiri. <br>  
                    Sukses kami adalah sukses kita bersama, untuk Indonesia.</p>
                    <p>Be a part of our movement. Be a part of our family to support our young generation.
                    Elfa Music School “A Big Happy Family”</p><br>
                    <p>Salam musik & prestasi!</p>
                </div>
            </div>
        </div>
    </section>

    <!-- e-Learning -->
    <section class="e-learning elearning">
        <div class="container">
            <div class="col-md-7 col-sm-7">
            </div>
            <div class="col-md-5 col-sm-5">
                <div class="row">
                    <br><br><br><br>
                    <p>The 1st e-Learning</p>
                    <p>Music Program to</p> 
                    <p>Become a STAR!</p>
                    <br>
                    <h1 style="font-size: 3.5vw;">Soft Launching</h1>
                    <div class="row col-md-7">
                        <button class="btn btn-red form-control" onclick="window.location.href='https://ems.ajardia.com/'"><b>START FREE TRIAL</b></button>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
    </section>

    <!-- Highlight News -->
    <section class="highlight-news blue">
        <div class="container">
            <!-- <img class="guitarist" src="static/images/assets/guitarist.png" alt="guitarist"> -->
            <div class="row">
                <div class="col-md-3">
                    <h1>Elfa's News</h1>
                    <p>Where news never gets old. Let's share right thing to right People</p>
                    <br>
                    <div class="btn-group">
                        <a class="btn btn-danger" href="#scroller" data-slide="prev"><i class="icon-angle-left"></i></a>
                        <a class="btn btn-danger" href="#scroller" data-slide="next"><i class="icon-angle-right"></i></a>
                    </div>
                    <p class="gap"></p>
                </div>
                <div class="col-md-9">
                    <div id="scroller" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    {% blog_recent_posts 6 as recent_posts %}
                                    {% for recent_post in recent_posts %}
                                    {% if forloop.counter < 4 %}
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <a href="{{ recent_post.get_absolute_url }}"><img class="img-responsive" src="{{ MEDIA_URL }}{{ recent_post.featured_image }}" alt=""></a>
                                                <h5>
                                                    <a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>      
                            <div class="item">
                                <div class="row">
                                    {% for recent_post in recent_posts %}
                                    {% if forloop.counter > 3 %}
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <a href="{{ recent_post.get_absolute_url }}"><img class="img-responsive" src="{{ MEDIA_URL }}{{ recent_post.featured_image }}" alt=""></a>
                                                <h5>
                                                    <a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Support Us -->
    <section class="support-us">
        <div class="container">
            <div class="col-md-6 col-sm-6">
                <div class="text row">
                    <h5>SUPPORT US</h5>
                </div> <br>
                <div class="row">
                    <h5><b>Give To Elfa Music School</b></h5>
                    <h1><b>We Cannot Go It Solo</b></h1><br>
                    <p>Sukses kita dalam memberi pendidikan musik terbaik kepada seluruh anak didik kita bergantung pada anda. Kontribusi anda dibidang finansial, sukarela dan jenis dukungan lainnya sangat penting terhadap percepatan melahirkan seniman – seniman komplit yang akan mewarnai blantika musik Indonesia dan kelak akan mengharumkan nama Indonesia.</p>
                    <p>Ayo kita dukung cita – cita mereka, karna sukses kita adalah sukses kita bersama, untuk Indonesia.</p>
                    <br>
                    <p>BCA 5680261476 a/n Vera Sylvina Y</p>
                    <p><a href="mailto:elfamusiccenter@gmail.com" style="color:black">elfamusiccenter@gmail.com</a></p>
                </div>
                <br>
            </div>
            <div class="col-md-6 col-sm-6">
                <img class="confetti" src="static/images/assets/4.png" alt="confetti">
            </div>
        </div>
    </section>

    <!-- Contact Us -->
    <section class="contact-us yellow">
        <div class="container">
            <div class="col-md-6 col-sm-6">
                <img class="guitarist" src="static/images/assets/guitarist.png">
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="row">
                    <h5>KEEP IN TOUCH</h5><br>
                    <h1><b>Contacts</b></h1><br>
                    <h5><strong>Elfa Music School – Center</strong></h5>
                    <h5>+62 21-8273-4124</h5>
                    <h5>Jl. Duta 9 Blok LL No. 14, Kemang Pratama Bekasi, 17116 </h5> <hr>
                    <h5><strong>Elfa Music School – Bandung</strong></h5>
                    <h5>+62 22-0274-149</h5>
                    <h5>Jl. Griya Utara No. 3 Komplek Griya Mas, Bandung</h5> <hr>
                    <h5><strong>Elfa Music School – Garut</strong></h5>
                    <h5>+62 853-2047-1425</h5>
                    <h5>Jl. Otto Iskandardinata No. 174, Garut </h5>
                </div>
            </div>
        </div>
    </section>

    <section class="follow-us yellow">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 text-center">
                    <a href="https://www.facebook.com/elfamusicenter/" style="color: black"><h5><img width="20%" src="static/images/ico/facebook-logo.png" hspace="10"><strong>elfamusicenter</strong></h5></a>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                    <h5><a href="mailto:elfamusiccenter@gmail.com" style="color:black"><img width="20%" src="static/images/ico/gmail-email-envelope.png" hspace="10"><strong>elfamusiccenter@gmail.com</strong></a></h5>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                    <a href="https://www.instagram.com/elfamusicschool/" style="color: black"><h5><img width="20%" src="static/images/ico/instagram-logo.png" hspace="10"><strong>@elfamusicschool</strong></h5></a>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center yellow" id="drummer">
        <img src="static/images/assets/drummer.png" width="20%" height="auto">
    </div>
{% endblock %}