{% extends "base.html" %}
{% load mezzanine_tags staticfiles %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "mezzanine/css/magnific-popup.css" %}">
{% endblock extra_css %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
{% if not forloop.first %}, {% endif %}
{{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% else %}
{% trans "Blog" %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
{% if tag or category or year or month or author %}
<li>{% spaceless %}
	{% if tag %}
	{% trans "Tag:" %} {{ tag }}
	{% else %}{% if category %}
	{% trans "Category:" %} {{ category }}
	{% else %}{% if year or month %}
	{% if month %}{{ month }}, {% endif %}{{ year }}
	{% else %}{% if author %}
	{% trans "Author:" %} {{ author.get_full_name|default:author.username }}
	{% endif %}{% endif %}{% endif %}{% endif %}
	{% endspaceless %}
</li>
{% endif %}
{% endblock %}

{% block main %}
<section class="no-margin" id="main-slider">
	<div class="carousel slide wet-asphalt">
		<ol class="carousel-indicators">
			<li class="" data-slide-to="0" data-target="#main-slider"></li>
			<li data-slide-to="1" data-target="#main-slider" class=""></li>
			<li data-slide-to="2" data-target="#main-slider" class="active"></li>
		</ol>
		<div class="carousel-inner">
			{% for blog_post in blog_posts.object_list %}
			{% if blog_post.featured_post %}
			<div style="background-image: url({{ MEDIA_URL }}{{blog_post.featured_image }})" class="item {% cycle 'active' '' '' %}">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="carousel-content centered" style="margin-top: 265px;">
								<h2 class="animation animated-item-1"><a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a></h2>
								<p class="animation animated-item-2">{{ blog_post.publish_date|timesince }} {% trans "ago" %}</p>
							</div>
						</div>
					</div>
				</div>
			</div><!--/.item-->
			{% endif %}
			{% endfor %} 
		</div><!--/.carousel-inner-->
	</div><!--/.carousel-->
	<a data-slide="prev" href="#main-slider" class="prev hidden-xs">
		<i class="icon-angle-left"></i>
	</a>
	<a data-slide="next" href="#main-slider" class="next hidden-xs">
		<i class="icon-angle-right"></i>
	</a>
</section>
<section  id="portfolio" class="container">
	<!-- <div class="row"> -->
		
		
		
		<!-- <div class="col-sm-8 col-sm-pull-4"> -->
			<!-- <div class="blog"> -->
				{% if tag or category or year or month or author %}
				{% block blog_post_list_filterinfo %}
				<p>
					{% if tag %}
					{% trans "Viewing posts tagged" %} {{ tag }}
					{% else %}{% if category %}
					{% trans "Viewing postxs for the category" %} {{ category }}
					{% else %}{% if year or month %}
					{% trans "Viewing posts from" %} {% if month %}{{ month }}, {% endif %}
					{{ year }}
					{% else %}{% if author %}
					{% trans "Viewing posts by" %}
					{{ author.get_full_name|default:author.username }}
					{% endif %}{% endif %}{% endif %}{% endif %}
					{% endblock %}
				</p>
				{% else %}
				{% if page %}
				{% block blog_post_list_pagecontent %}
				{% if page.get_content_model.content %}
				{% editable page.get_content_model.content %}
				{{ page.get_content_model.content|richtext_filters|safe }}
				{% endeditable %}
				{% endif %}
				{% endblock %}
				{% endif %}
				{% endif %}


				{% for blog_post in blog_posts.object_list %}
				<ul class="portfolio-items col-3">
					<!-- <div class="blog-item"> -->
					<li class="portfolio-item apps">
						<div class="item-inner">
					{% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
					{% block blog_post_list_post_featured_image %}
							<a href="{{ blog_post.get_absolute_url }}">
								<img src="{{ MEDIA_URL }}{{ blog_post.featured_image }}">                    
							</a>
			<!-- <a href="{{ blog_post.get_absolute_url }}">
				<img width="100%" class="img-responsive img-blog" src="{{ MEDIA_URL }}{{ blog_post.featured_image }}">
			</a> -->
			{% endblock %}
			{% endif %}
			<!-- <div class="blog-content"> -->
			
			{% block blog_post_list_post_title %}

			{% editable blog_post.title %}
			<a href="{{ blog_post.get_absolute_url }}"><h3>{{ blog_post.title }}</h3></a>

			{% endeditable %}
			{% endblock %}

	{% block blog_post_list_post_metainfo %}
	{% editable blog_post.publish_date %}
	<div class="entry-meta">
		<span><i class="icon-user"></i> {% with blog_post.user as author %}
			<a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
			{% endwith %}
		</span>
		<br />
		<span><i class="icon-folder-close"></i>
			{% with blog_post.categories.all as categories %}
			{% if categories %}
			{% trans "in" %}
			{% for category in categories %}
			<a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
			{% endfor %}
			{% endif %}
			{% endwith %}

		</span>
		<br />
		<span><i class="icon-calendar"></i> {% blocktrans with sometime=blog_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}</span>
		<br />
		<span><i class="icon-comment"></i> 
			{% if blog_post.allow_comments %}

			{% if settings.COMMENTS_DISQUS_SHORTNAME %}
			<a href="{{ blog_post.get_absolute_url }}#disqus_thread"
			data-disqus-identifier="{% disqus_id_for blog_post %}">
			{% trans "Comments" %}
		</a>
		{% else %}
		<a href="{{ blog_post.get_absolute_url }}#comments">
			{% blocktrans count comments_count=blog_post.comments_count %}{{ comments_count }} comment{% plural %}{{ comments_count }} comments{% endblocktrans %}
		</a>
		{% endif %}
		{% endif %}

	</span>
</div>

{% endeditable %}
{% endblock %}



{% block blog_post_list_post_content %}
{% editable blog_post.content %}
{{ blog_post.description_from_content|safe }}
{% endeditable %}
{% endblock %}

<!-- <a href="{{ blog_post.get_absolute_url }}"  class="btn btn-default">{% trans "read more" %} <i class="icon-angle-right"> </i></a> -->



</div>           
</li><!--/.portfolio-item-->
</ul><!-- </div> -->
<!-- </div> -->
{% endfor %}

<!-- </div> -->
<!-- </div> -->

{% pagination_for blog_posts %}

{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_counts.html" %}
{% endif %}
<!-- </div> -->
</section>
{% endblock %}



